{% extends "base.html.twig" %}

{% block body %}
<main class="container pt-2 pb-2">
    <div class="row">
        <div class="col-12 col-md-9 col-lg-9 col-xl-10 blog-main mb-2">
            <div class="jumbotron text-uppercase mb-2" style="color: #0071BC; background-color: white; border-radius: 0; margin-bottom: 0; padding: 20px; !important;">
                <h3>Réseau <b>BRONCHIOLITE NORMAND</b></h3>
                <p class="lead" style="font-size: 14px;">Accès aux professionnels</p>
                <p class="text-left" style="font-size: 14px; padding-top: 20px;">Bonjour vous,</p>
            </div>

            <div class="accordion" id="accordionPro">
                <div class="card" style="border-radius: 0;">
                    <div class="card-header" id="pro_1">
                        <h5 class="mb-0">
                            <span class="d-none d-sm-inline badge badge-primary px-3" style="margin-top: 7px;">Obtenir</span>
                            <button class="btn btn-link collapsed btnCollapse" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Procédure de garde
                            </button>
                            <img class="img-fluid imgRotatable float-right" width="35" src="{{ asset('assets/img/fleche_droite.png') }}" />
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="pro_1" data-parent="#accordionPro">
                        <div class="card-body text-uppercase text-center" style="font-size: 14px;">
                            Horaire - Numéro d'appel - Hotline - Connexion sypki - Secrétariat
                            {# {% for key,data in finalList %}
                            {% if key == "Procédure de garde" %}
                            {% if data %}
                            <hr />
                            <ul class="list-group">
                                {% for file in data %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ file.name }}
                                    <span class="badge badge-pill"><a href="{{ path('getFile', {id: file.id}) }}"><img
                                                width="40" class="img-fluid" src="{{ asset('assets/img/pdf-icon.png') }}" /></a></span>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endif %}
                            {% endfor %} #}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="pro_2">
                        <h5 class="mb-0">
                            <span class="d-none d-sm-inline badge badge-primary px-3">Obtenir</span>
                            <button class="btn btn-link collapsed btnCollapse" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Grille d'évaluation
                            </button>
                            <img class="img-fluid imgRotatable float-right" width="35" src="{{ asset('assets/img/fleche_droite.png') }}" />
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="pro_2" data-parent="#accordionPro">
                        <div class="card-body" style="font-size: 14px;">
                            Le Réseau Bronchiolite Normand met à disposition des kinésithérapeutes assurant une garde
                            une grille d'évaluation (fiche bilan) permettant une meilleure transmission des données de
                            suivi au collègue qui revoit l'enfant après le week-end ou le jour férié.<br /><br />
                            Elle est également utilisée à des fins statistiques et entre dans le processus d'évalution
                            indispensable à la pérennité d'un réseau.
                            {# {% for key,data in finalList %}
                            {% if key == "Grille d'évaluation" %}
                            {% if data %}
                            <hr />
                            <ul class="list-group">
                                {% for file in data %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ file.name }}
                                    <span class="badge badge-pill"><a href="{{ path('getFile', {id: file.id}) }}"><img
                                                width="40" class="img-fluid" src="{{ asset('assets/img/pdf-icon.png') }}" /></a></span>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endif %}
                            {% endfor %} #}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="pro_3">
                        <h5 class="mb-0">
                            <span class="d-none d-sm-inline badge badge-primary px-3">Obtenir</span>
                            <button class="btn btn-link collapsed btnCollapse" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Formations
                            </button>
                            <img class="img-fluid imgRotatable float-right" width="35" src="{{ asset('assets/img/fleche_droite.png') }}" />
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="pro_3" data-parent="#accordionPro">
                        <div class="card-body" style="font-size: 14px;">
                            {# {% if formationsList %}
                            <ul class="list-group">
                                {% for formation in formationsList %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Le {{ formation.date | date('d/m/Y H:i') }} : {{ formation.title }}
                                    <a href="mailto:ukr-formation@ukrespi.fr"><span class="badge badge-primary badge-pill">S'inscrire</span></a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            {% for key,data in finalList %}
                            {% if key == "Formations" %}
                            {% if data %}
                            <hr />
                            <ul class="list-group">
                                {% for file in data %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ file.name }}
                                    <span class="badge badge-pill"><a href="{{ path('getFile', {id: file.id}) }}"><img
                                                width="40" class="img-fluid" src="{{ asset('assets/img/pdf-icon.png') }}" /></a></span>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endif %}
                            {% endfor %} #}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="pro_5">
                        <h5 class="mb-0">
                            <span class="d-none d-sm-inline badge badge-primary px-3">Obtenir</span>
                            <button class="btn btn-link collapsed btnCollapse" type="button" data-toggle="collapse"
                                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Planning des gardes
                            </button>
                            <img class="img-fluid imgRotatable float-right" width="35" src="{{ asset('assets/img/fleche_droite.png') }}" />
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="pro_5" data-parent="#accordionPro">
                        <div class="card-body" style="font-size: 14px;">
                            {# {% for key,data in finalList %}
                            {% if key == "Planning des gardes" %}
                            {% if data %}
                            <ul class="list-group">
                                {% for file in data %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ file.name }}
                                    <span class="badge badge-pill"><a href="{{ path('getFile', {id: file.id}) }}"><img
                                                width="40" class="img-fluid" src="{{ asset('assets/img/pdf-icon.png') }}" /></a></span>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endif %}
                            {% endfor %} #}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="pro_6">
                        <h5 class="mb-0">
                            <span class="d-none d-sm-inline badge badge-primary px-3">Obtenir</span>
                            <button class="btn btn-link collapsed btnCollapse" type="button" data-toggle="collapse"
                                data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Conférence de consensus
                            </button>
                            <img class="img-fluid imgRotatable float-right" width="35" src="{{ asset('assets/img/fleche_droite.png') }}" />
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="pro_6" data-parent="#accordionPro">
                        <div class="card-body" style="font-size: 14px;">
                            Le 21 septembre 2000, à Paris, se tenait la Conférence de Consensus dédieé à la prise en
                            charge de la bronchiolite du nourrisson.<br />
                            Cette conférence a été organisée et s'est déroulée conformément aux règles méthodologiques
                            préconisées par l'Agence Nationale d'Accréditation et d'Evaluation en Santé (ANAES).<br />
                            Les conclusions et recommandations présentées constistuent un préambule nécessaire à
                            l'action de tout professionnel de santé ayant à prendre en charge un patient atteint de
                            bronchiolite...
                            {# {% for key,data in finalList %}
                            {% if key == "Conférence de consensus" %}
                            {% if data %}
                            <hr />
                            <ul class="list-group">
                                {% for file in data %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ file.name }}
                                    <span class="badge badge-pill"><a href="{{ path('getFile', {id: file.id}) }}"><img
                                                width="40" class="img-fluid" src="{{ asset('assets/img/pdf-icon.png') }}" /></a></span>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endif %}
                            {% endfor %} #}
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="pro_7">
                        <h5 class="mb-0">
                            <span class="d-none d-sm-inline badge badge-primary px-3">Obtenir</span>
                            <button class="btn btn-link collapsed btnCollapse" type="button" data-toggle="collapse"
                                data-target="#collapseSept" aria-expanded="false" aria-controls="collapseSix">
                                Point épidémiologique
                            </button>
                            <img class="img-fluid imgRotatable float-right" width="35" src="{{ asset('assets/img/fleche_droite.png') }}" />
                        </h5>
                    </div>
                    <div id="collapseSept" class="collapse" aria-labelledby="pro_7" data-parent="#accordionPro">
                        <div class="card-body" style="font-size: 14px;">
                            {# Points épidémiologiques #}
                            {# {% for key,data in finalList %}
                            {% if key == "Point épidémiologique" %}
                            {% if data %}
                            <hr />
                            <ul class="list-group">
                                {% for file in data %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ file.name }}
                                    <span class="badge badge-pill"><a href="{{ path('getFile', {id: file.id}) }}"><img
                                                width="40" class="img-fluid" src="{{ asset('assets/img/pdf-icon.png') }}" /></a></span>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endif %}
                            {% endfor %} #}
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <aside class="col-12 col-md-3 col-lg-3 col-xl-2 blog-sidebar">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-12">
                    <div class="card mb-2" style="background-color: #a3a3a3; border-radius: 0;">
                        {# {% if app.user %} #}
                        <div class="row mx-auto text-center">
                            <div class="col-12 mt-2">
                                <img class="img-fluid" src="{{ asset('assets/img/user_picto.png') }}" />
                            </div>
                            {# {% if app.user.isEnabled == false %} #}
                            <div class="col-12 mt-2">
                                <span class="badge badge-warning">en cours de validation</span>
                            </div>
                            {# {% endif %} #}
                        </div>
                        <div class="card-body text-center" style="color: white; font-size: 15px;">
                            Bonjour <b>vous</b>, vous êtes actuellement connecté.
                            <a href="#" type="button" class="btn btn-info btn-block mt-2 btn-sm"
                                style="font-size: 12px; border-radius: 0; background-color: #0071BC; border-color: #0071BC;">Mon
                                compte</a>
                            <a href="#" type="button" class="btn btn-danger btn-block btn-sm" style="font-size: 12px;  border-radius: 0;">Déconnexion</a>
                        </div>
                        {# {% else %}
                        <div class="row mx-auto text-center">
                            <div class="col-12 mt-2">
                                <img class="img-fluid" src="{{ asset('assets/img/user_picto.png') }}" />
                            </div>
                        </div>
                        <div class="card-body">
                            {{ render(controller('App\\Controller\\SecurityController::login')) }}
                        </div>
                        {% endif %} #}
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-12 mb-2 col-xs-custom">
                    <a href="#">
                        <div class="card text-center pointerHover" style="border-radius: 0;">
                            <img src="{{ asset('assets/img/donnation_2.png') }}">
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-4 col-md-12 mb-2 col-xs-custom">
                    <div class="card text-center pointerHover" data-toggle="modal" data-target="#survey" style="border-radius: 0;">
                        <img class="img-fluid pointerHover" src="{{ asset('assets/img/survey.png') }}">
                    </div>
                </div>
                <div class="col-12">
                    <div style="background-color: white;" class="p-3 text-center">
                        <div class="row">
                            <div class="col-12">
                                <a href="https://www.facebook.com/ReseauBronchioliteHautNormand/" target="_blank">
                                    <img class="img-fluid" src="{{ asset('assets/img/facebook.png') }}" />
                                </a>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="fb-like" data-href="https://www.facebook.com/ReseauBronchioliteHautNormand/"
                                    data-layout="box_count" data-action="like" data-size="small" data-show-faces="true"
                                    data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal pour voter -->
            <div class="modal fade" id="survey" tabindex="-1" role="dialog" aria-labelledby="survey" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <form method="POST" action="#">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Evaluation et satisfaction</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label><b>Votre enfant</b></label><br />
                                            <div class="form-check form-check-inline">
                                                <input required class="form-check-input" type="radio" name="childGender"
                                                    id="childGender_0" value="0">
                                                <label class="form-check-label" for="childGender_0">Fille</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input required class="form-check-input" type="radio" name="childGender"
                                                    id="childGender_1" value="1">
                                                <label class="form-check-label" for="childGender_1">Garçon</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="birthday"><b>Date de naissance</b></label>
                                            <input required type="text" class="form-control birthday" name="birthday"
                                                id="birthday">
                                        </div>


                                        <div class="form-group">
                                            <label for="seanceDate"><b>Date des séances</b></label>
                                            <input required type="text" class="form-control seanceDate" name="seanceDate"
                                                id="seanceDate">
                                        </div>

                                        <div class="form-group">
                                            <label for="department"><b>Département</b></label>
                                            <select required class="form-control" id="department" name="department">
                                                <option value="">-</option>
                                                <option value="50">Manche</option>
                                                <option value="14">Calvados</option>
                                                <option value="61">Orne</option>
                                                <option value="27">Eure</option>
                                                <option value="76">Seine Maritime</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label><b>Satisfait du service ?</b></label><br />
                                            <div class="form-check form-check-inline">
                                                <input required class="form-check-input" type="radio" name="serviceSatisfaction"
                                                    id="serviceSatisfaction_0" value="0">
                                                <label class="form-check-label" for="serviceSatisfaction_0">Très</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input required class="form-check-input" type="radio" name="serviceSatisfaction"
                                                    id="serviceSatisfaction_1" value="1">
                                                <label class="form-check-label" for="serviceSatisfaction_1">Bien</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input required class="form-check-input" type="radio" name="serviceSatisfaction"
                                                    id="serviceSatisfaction_2" value="2">
                                                <label class="form-check-label" for="serviceSatisfaction_2">Peu</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input required class="form-check-input" type="radio" name="serviceSatisfaction"
                                                    id="serviceSatisfaction_3" value="3">
                                                <label class="form-check-label" for="serviceSatisfaction_3">Pas du tout</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label><b>Satisfait du centre d’appel ?</b></label><br />
                                            <div class="form-check form-check-inline">
                                                <input required class="form-check-input" type="radio" name="callCenter"
                                                    id="callCenter_0" value="0">
                                                <label class="form-check-label" for="callCenter_0">Très</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input required class="form-check-input" type="radio" name="callCenter"
                                                    id="callCenter_1" value="1">
                                                <label class="form-check-label" for="callCenter_1">Bien</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input required class="form-check-input" type="radio" name="callCenter"
                                                    id="callCenter_2" value="2">
                                                <label class="form-check-label" for="callCenter_2">Peu</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input required class="form-check-input" type="radio" name="callCenter"
                                                    id="callCenter_3" value="3">
                                                <label class="form-check-label" for="callCenter_3">Pas du tout</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label><b>Renouvelleriez vous ?</b></label><br />
                                            <div class="form-check form-check-inline">
                                                <input required class="form-check-input" type="radio" name="renew" id="renew_0"
                                                    value="0">
                                                <label class="form-check-label" for="renew_0">Oui</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input required class="form-check-input" type="radio" name="renew" id="renew_1"
                                                    value="1">
                                                <label class="form-check-label" for="renew_1">Non</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="knowUs"><b>Vous nous avez connu par :</b></label>
                                            <select required class="form-control" id="knowUs" name="knowUs">
                                                <option value="">-</option>
                                                <option value="Kinésithérapeute">Kinésithérapeute</option>
                                                <option value="Médecin">Médecin</option>
                                                <option value="Pharmacien">Pharmacien</option>
                                                <option value="Internet">Internet</option>
                                                <option value="Réseaux Sociaux">Réseaux Sociaux</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-primary">Envoyer mon avis</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </aside>
    </div>
</main>
{% endblock %}

{% block javascripts %}
<script>
    $(".btnCollapse").click(function () {
        $('.imgRotatable').removeClass('imgRotated');
        let image = $(this).closest('h5').find('img');
        let isCollapsed = !$($(this).data('target')).hasClass('show');
        if (isCollapsed) {
            image.addClass('imgRotated');
        } else {
            image.removeClass('imgRotated');
        }
    });
</script>
{% endblock %}